# AI 模型與核心串接
litellm[proxy]
google-generativeai
google-cloud-aiplatform
groq
huggingface_hub
openai

# Discord 開發
discord.py

# 工具與網路請求
requests
httpx
python-dotenv
aiosqlite
psutil
pillow

# 翻譯
deep-translator